@use '../../@shared/styles/colors' as *;

:host {
    display: block;
    width: 100%;
    height: 100px;
    border-radius: 8px;
    background: var-color(surface);
    position: relative;
    overflow: hidden;
}

:host::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            var-color(placeholder) 50%, // brilho suave
            rgba(255, 255, 255, 0) 100%);
    animation: shimmer 1s infinite;
}

@keyframes shimmer {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(180%);
    }
}