:host {
    display: block;
    width: 100%;
    border-radius: 8px;
    background: #a6a6a6;
    position: relative;
    overflow: hidden;
}

:host::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    background: linear-gradient(90deg,
            rgba(184, 184, 184, 0) 0%,
            rgba(184, 184, 184, 0) 50%,
            rgba(184, 184, 184, 0) 100%);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(200%);
    }
}