// ==========================
// COLORS.SCSS
// ==========================

// ========== LIGHT THEME ==========
$theme-light: (
    primary: #63b7d2,
    altpri: #255364,
    secondary: #7DAA91,
    background  : #eceaea,
    surface: #f5f5f5,
    placeholder: #6a6a6a,
    text: #2E2E2E,
    success: #7DBB83,
    warn: #f8da8d,
    error: #D96C5F,
    info: #a69fcb,
    success-alpha: #B6DDB9,
    warn-alpha: #f3dca8,
    error-alpha: #E9A299,
);

// ========== DARK THEME ==========
$theme-dark: (
    primary: #73a3b3,
    altpri: #2a424a,
    secondary: #587e66,
    tertiary: #C0B7E1,
    background: #181818,
    surface: #272727,
    text: #eceaea,
    placeholder: #7a7a7a,
    success: #9BCE9F,
    warn: #746233,
    error: #E5877A,
    info: #615c7e,
    success-alpha: #426245,
    warn-alpha: #94814e,
    error-alpha: #ac5b51,
);
$theme: $theme-light !default;

// ==========================
// CSS Custom Properties
// ==========================
:root {
    @each $key, $value in $theme-light {
        --#{$key}: #{$value};
    }
}

[data-theme="dark"] {
    @each $key, $value in $theme-dark {
        --#{$key}: #{$value};
    }
}

// ==========================
// Funções de acesso
// ==========================

@function color($key) {
    @return map-get($theme, $key);
}

@function var-color($key) {
    @return var(--#{$key});
}

// ==========================
// Lista de cores para utilitários
// ==========================
$color-keys: (
    primary: var-color(primary),
    altpri: var-color(altpri),
    secondary: var-color(secondary),
    tertiary: var-color(tertiary),
    background: var-color(background),
    surface: var-color(surface),
    placeholder: var-color(placeholder),
    text: var-color(text),
    success: var-color(success),
    warn: var-color(warn),
    error: var-color(error),
    info: var-color(info),
    success-alpha: var-color(success-alpha),
    warn-alpha: var-color(warn-alpha),
    error-alpha: var-color(error-alpha),
);