// ==========================
// COLORS.SCSS
// ==========================

// ========== LIGHT THEME ==========
$theme-light: (
    primary: #63b7d2,
    altpri: #255364,
    secondary: #7DAA91,
    tertiary: #A89EC9,
    background: #eceaea,
    surface: #F8FAFB,
    placeholder: #535353,
    text: #2E2E2E,
    success: #7DBB83,
    warn: #E9C46A,
    error: #D96C5F,
    info: #7e75ba,
    success-alpha: #B6DDB9,
    warn-alpha: #F3DA9E,
    error-alpha: #E9A299,
);

// ========== DARK THEME ==========
$theme-dark: (
    primary: #73a3b3,
    altpri: #2a424a,
    secondary: #587e66,
    tertiary: #C0B7E1,
    background: #121212,
    surface: #272727,
    text: #eceaea,
    placeholder: #A8A8A8,
    success: #9BCE9F,
    warn: #F5E0A7,
    error: #E5877A,
    info: #615c7e,
    success-alpha: #426245,
    warn-alpha: #94814e,
    error-alpha: #ac5b51,
);
$theme: $theme-light !default;

// Função SCSS para acessar cores via map
@function color($key) {
    @if global-variable-exists(theme) {
        @return map-get($theme, $key);
    }

    @warn "No theme is currently set!";
    @return null;
}

:root {
    @each $key, $value in $theme-light {
        --#{$key}: #{$value};
    }
}

[data-theme="dark"] {
    @each $key, $value in $theme-dark {
        --#{$key}: #{$value};
    }
}

@function var-color($key) {
    @return var(--#{$key});
}