<form [formGroup]="contactForm" animate.enter="slide-vertical-in">
    <div class="d-flex flex-col gap-40 card">
        <div class="d-flex flex-col gap">
            <div class="d-flex flex-col gap">
                <h3>Contato</h3>
                <hr />
            </div>
            <div class="d-flex gap wrap-medium">
                <div class="d-flex flex-col gap-8 w-full">
                    <h4>Telefone principal <span class="text-error">*</span></h4>
                    <input formControlName="main_phone" type="text"
                        placeholder="Digite o telefone principal da clínica">
                    @if (contactForm.get('main_phone')?.invalid && contactForm.get('main_phone')?.touched)
                    {
                    <span class="text-error" animate.enter="slide-vertical-in-reverse">
                        Telefone inválido
                    </span>
                    }
                </div>
                <div class="d-flex flex-col gap-8 w-full">
                    <h4>Telefone secundário <span class="text-error">*</span></h4>
                    <input formControlName="secondary_phone" type="text"
                        placeholder="Digite o telefone secundário da clínica">
                    @if (contactForm.get('secondary_phone')?.invalid &&
                    contactForm.get('secondary_phone')?.touched) {
                    <span class="text-error" animate.enter="slide-vertical-in-reverse">
                        Telefone inválido
                    </span>
                    }
                </div>
            </div>
            <div class="d-flex flex-col gap-8">
                <div class="d-flex gap items-center card background flat flex-wrap">
                    <span class="text-placeholder text-bold">Permitir contato via Whatsapp?</span>
                    <div class="slide-toggle-wrapper">
                        <input type="checkbox" class="slide-toggle-input" />
                        <div class="slide-toggle"></div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-col gap">
                <hr />
                <div class="d-flex w-full justify-end">
                    <button class="secondary h-full w-full" [disabled]="contactForm.invalid">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>