<form [formGroup]="contactForm" animate.enter="slide-vertical-in">
    <div class="d-flex flex-col gap-40 card">
        <div class="d-flex flex-col gap">
            <div class="d-flex flex-col gap">
                <h3>Contato</h3>
                <hr />
            </div>
            <div class="d-flex gap wrap-medium">
                <div class="d-flex flex-col gap-8 w-full">
                    <h4>Telefone <span class="text-error">*</span></h4>
                    <input formControlName="phone" type="text" placeholder="Digite o telefone da clínica"
                        *skeleton="clinic; className: ['w-full', 'h-40']; size: 1" animate.enter="slide-vertical-in">
                    @if (contactForm.get('main_phone')?.invalid && contactForm.get('main_phone')?.touched)
                    {
                    <span class="text-error" animate.enter="slide-vertical-in-reverse">
                        Telefone inválido
                    </span>
                    }
                </div>
                <div class="d-flex flex-col gap-8 w-full">
                    <h4>Email <span class="text-error">*</span></h4>
                    <input formControlName="email" type="text" placeholder="Digite o email da clínica"
                        *skeleton="clinic; className: ['w-full', 'h-40']; size: 1" animate.enter="slide-vertical-in">
                    @if (contactForm.get('email')?.invalid && contactForm.get('email')?.touched) {
                    <span class="text-error" animate.enter="slide-vertical-in-reverse">
                        Email inválido
                    </span>
                    }
                </div>
            </div>
            <div class="d-flex flex-col gap">
                <hr />
                <div class="d-flex w-full justify-end">
                    <button class="secondary h-full" [disabled]="contactForm.invalid"
                        (click)="emitUpdateClinic()">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>