.ql-toolbar.ql-snow {
    background-color: var(--surface);
    border: none;
    border-radius: 8px 8px 0 0;
    padding: 16px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--placeholder);
    margin: 0 24px;

    .ql-formats {
        display: flex;
        margin: 0;
    }

    .ql-picker {
        color: var(--text);
    }

    button {
        color: var(--text);

        &:hover {
            background-color: color-mix(in srgb, var(--text) 10%, transparent);
        }

        &.ql-active {
            color: var(--primary);
        }
    }

    .ql-stroke {
        stroke: var(--text);
    }

    .ql-fill {
        fill: var(--text);
    }
}

.ql-container.ql-snow {
    background-color: var(--surface);
    color: var(--text);
    border: none;
    border-top: none;
    border-radius: 8px 8px 0px 8px;

    .ql-editor {
        min-height: 200px;
        line-height: 1.5;
        font-size: 16px;
        padding: 24px !important;

        &::before {
            color: var(--placeholder);
            font-style: normal;
        }

    }
}

.ql-snow a {
    color: var(--primary);
}