<div class="sidebar pos-sticky top left bg-surface" [class.open]="isOpen">
    <div class="w-full h-screen d-flex flex-col items-center gap hidden" [ngClass]="{'p-24': isOpen, 'p-16': !isOpen}">
        <div class="d-flex h-screen flex-col gap-8 w-full hidden justify-between">
            <div class="d-flex flex-col gap-8 w-full hidden">
                <button class="w-full surface d-flex p-8 gap-16 items-center justify-center hide-mobile"
                    (click)="toggleSidebar()">
                    <span class="material-symbols-outlined">
                        menu
                    </span>
                </button>
                <!-- <hr class="hide-mobile" /> -->
                <button class="surface gap-16 items-center px-8 w-full py-24">
                    <div class="d-flex items-center gap-16">
                        <span class="w-24 h-24">
                            <avatar class="w-full text-size-16" [alt]="'profile-picture'" [name]="'Gabriela Alves'"
                                [size]="'small'">
                            </avatar>
                        </span>
                        <span class="text-text text-nowrap hide-mobile" *ngIf="isOpen">
                            Gabriela Alves
                        </span>
                    </div>
                </button>
                <hr />
                <div *ngFor="let group of sidebarItems; let i = index" class="d-flex flex-col gap-8 mt-24">
                    <hr *ngIf="i !== 0" class="mb-24" />
                    <div class="d-flex flex-col gap-8 hide-mobile" *ngIf="isOpen">
                        <span class="text-placeholder ml-8 text-bold">{{group.title}}</span>
                    </div>
                    <button *ngFor="let menu of group.children" class="surface w-full p-8 gap-16 justify-between"
                        [routerLink]="menu.route" routerLinkActive="active">
                        <div class="d-flex items-center gap-16">
                            <span class="material-symbols-outlined">
                                {{ menu.icon }}
                            </span>
                            <span class="text-text text-nowrap hide-mobile" *ngIf="isOpen">
                                {{menu.label}}
                            </span>
                        </div>
                        <span class="text-text p-4 text-nowrap hide-mobile text-size-12 text-success"
                            *ngIf="isOpen && menu.badge">
                            {{menu.badge}}
                        </span>
                    </button>
                </div>
            </div>

            <div class="d-flex flex-col items-center gap-8">
                <div class="d-flex justify-center w-full">
                    <button class="error outline w-full d-flex p-8 gap-16 items-center justify-center">
                        <div class=" d-flex items-center gap-16">
                            <span class="material-symbols-outlined">
                                logout
                            </span>
                            <span class="text-nowrap hide-mobile" *ngIf="isOpen">
                                Sair
                            </span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>