@use '../../styles/colors' as *;

.sidebar {
    width: 90px;
    transition: width 0.2s ease;
    color: var-color(text);

    .sidebar-item {
        transition: 0.2s;

        &:hover {
            background-color: var-color(primary) !important;

            span {
                color: var-color(altpri) !important;
            }
        }
    }
}

.sidebar.open {
    width: 260px;
}

.active {
    background-color: var-color(primary) !important;

    span {
        color: var-color(altpri) !important;
    }
}