<div class="sidebar pos-sticky top left bg-surface " [class.open]="isOpen">
    <div [ngClass]="{'pt-24 pb-24 pl-24': isOpen, 'pt-16 pb-16 pl-16': !isOpen}"
        class="w-full h-screen d-flex flex-col items-center gap scroll-y pr-0">
        <div class="d-flex h-screen flex-col gap-8 w-full justify-between scroll-y">
            <div class="d-flex flex-col gap-8 w-full scroll-y pr-16">
                <button class="w-full surface d-flex p-8 gap-16 items-center justify-center hide-mobile"
                    (click)="toggleSidebar()">
                    <span class="material-symbols-outlined">
                        menu
                    </span>
                </button>
                <button class="secondary gap-16 items-center px-8 w-full py-24">
                    <div class="d-flex items-center gap-16">
                        <span class="w-24 h-24">
                            <avatar class="w-full text-size-16" [alt]="'profile-picture'" [name]="'Gabriela Alves'"
                                [size]="'small'">
                            </avatar>
                        </span>
                        <span class="text-text text-nowrap hide-mobile" *ngIf="isOpen">
                            Gabriela Alves
                        </span>
                    </div>
                </button>
                <hr />
                <div *ngFor="let group of sidebarItems; let i = index" class="d-flex flex-col gap-8 mt-24">
                    <hr *ngIf="i !== 0" class="mb-24" />
                    <div class="d-flex flex-col gap-8" *ngIf="isOpen">
                        <span class="text-placeholder ml-8 text-bold">{{group.title}}</span>
                    </div>
                    <button *ngFor="let menu of group.children" class="surface w-full p-8 gap-16"
                        [ngClass]="{'justify-between' : isOpen, 'justify-center': !isOpen}" [routerLink]="menu.route"
                        routerLinkActive="active">
                        <div class="d-flex items-center gap-16">
                            <span class="material-symbols-outlined">
                                {{ menu.icon }}
                            </span>
                            <span class="text-text text-nowrap hide-mobile" *ngIf="isOpen">
                                {{menu.label}}
                            </span>
                        </div>
                        <span class="text-text p-4 text-nowrap hide-mobile text-size-12 text-success"
                            *ngIf="isOpen && menu.badge">
                            {{menu.badge}}
                        </span>
                    </button>
                </div>
                <hr class="mt-24" />
                @if(isOpen) {
                <span class="text-center text-placeholder">Powered by <span
                        class="text-text text-bold">Synapse</span></span>
                <hr class="mt-24" />
                }
            </div>
            <div class="d-flex flex-col items-center gap-8 pr-16">
                <div class="d-flex justify-center w-full">
                    <button class="error outline w-full d-flex p-8 gap-16 items-center justify-center"
                        (click)="logout()" data-tooltip="Sair">
                        <div class=" d-flex items-center gap-16">
                            <span class="material-symbols-outlined">
                                logout
                            </span>
                            <span class="text-nowrap hide-mobile" *ngIf="isOpen">
                                Sair
                            </span>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>