<div class="d-flex gap items-center justify-between card">
    <div class="d-flex gap items-center">
        <div class="w-40 h-40">
            <avatar class="w-full hide-mobile" [image]="patient?.image" [name]="patient?.full_name ?? ''"
                alt="profile-picture">
            </avatar>
        </div>
        <p class="text-placeholder text-bold hide-mobile">
            {{patient?.registration}}
        </p>
        <p class="text-placeholder">
            {{patient?.full_name}}
        </p>
    </div>
    <div class="d-flex flex-row gap">
        <button class="circle text-secondary w-32 h-32 cursor-pointer">
            <span class="material-symbols-outlined ">
                calendar_add_on
            </span>
        </button>
        <button class="circle text-placeholder w-32 h-32 cursor-pointer">
            <span class="material-symbols-outlined w-32 cursor-pointer">
                edit
            </span>
        </button>

    </div>
</div>