<div class="d-flex gap flex-wrap justify-between mb-40 w-full" animate.enter="slide-vertical-in">
    <div class="d-flex flex-col flex-1-1 gap w-60-p">
        <div class="d-flex gap items-center">
            <button class="circle background w-40 h-40 p-24" (click)="return()" *ngIf="returnUrl">
                <span class="text-placeholder material-symbols-outlined">
                    arrow_back
                </span>
            </button>
            <div class="">
                <h2>{{title}}</h2>
                <h3 class="text-normal">{{subtitle}}</h3>
            </div>
        </div>
        <hr class="max-w-320" />
    </div>
    <div class="d-flex flex-1-1">
        <ng-content></ng-content>
    </div>
</div>