@mixin button-base {
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

@mixin button-variant($color) {
    background-color: var(--#{$color});
    color: var(--text);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01);

    &:hover {
        background-color: color-mix(in srgb, var(--#{$color}) 90%, gray);
    }

    &:active:not(:disabled) {
        background-color: color-mix(in srgb, var(--#{$color}) 100%, gray);
        box-shadow: none;
        transform: scale(0.97);
    }

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
        box-shadow: none;
    }
}