@mixin card-base {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 24px;
    background-color: var(--surface);

    @media screen and (max-width: 768px) {
        padding: 16px;
    }
}

@mixin card-variant($color) {
    background-color: var(--#{$color})!important;
}