@use '../../colors' as *;

@mixin divider-base {
    width: 100%;
    height: 1px !important;
    color: var-color(placeholder);
    border: none;
    background-color: var-color(placeholder);
}

@mixin divider-variant($color) {
    color: var-color($color);
    background-color: var-color($color);
}