@use '../../colors' as *;

@mixin tooltip($position: top) {
    position: relative;

    &::before,
    &::after {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease, transform 0.2s ease;
        z-index: 999;
    }

    &::before {
        position: absolute;
        padding: 8px 10px;
        border-radius: 8px;
        background-color: var(--placeholder);
        color: var(--background);
        text-align: center;
        font-size: 14px;
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
        max-width: calc(100vw - 20px);
        box-sizing: border-box;

        @if $position ==top {
            bottom: calc(100% + 8px);
            left: 50%;
            transform: translateX(-50%) translateY(6px);
            content: attr(data-tooltip);
        }

        @else if $position ==bottom {
            top: calc(100% + 8px);
            left: 50%;
            transform: translateX(-50%) translateY(-6px);
            content: attr(data-tooltip-bottom);
        }
    }

    &::after {
        position: absolute;
        border-width: 6px;
        border-style: solid;
        content: '';

        @if $position ==top {
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%) translateY(6px);
            border-color: var(--placeholder) transparent transparent transparent;
        }

        @else if $position ==bottom {
            top: 100%;
            left: 50%;
            transform: translateX(-50%) translateY(-6px);
            border-color: transparent transparent var(--placeholder) transparent;
        }
    }

    &:hover::before,
    &:hover::after {
        visibility: visible;
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}