@use '../colors' as colors;
@use './mixins/button' as *;

button {
    @include button-base;
}

/* VARIANTES */

@each $name, $value in colors.$color-keys {
    button.#{$name} {
        @include button-variant($name);
    }
}

/* FORMAS */
button.circle {
    border-radius: 50%;
    padding: 8px !important;
    flex-shrink: 0;
}

button.outline {
    background: transparent;
    border: 1px solid;

    @each $name, $value in colors.$color-keys {
        &.#{$name} {
            color: $value !important;
            border-color: $value !important;
        }
    }

    span {
        color: inherit;
    }

    &:hover:not(.outline) {
        background-color: color-mix(in srgb, currentColor 15%, white);
    }
}

/* TAMANHOS */
button.sm {
    padding: 8px 12px;
    font-size: 0.85rem;
}

button.lg {
    padding: 16px 24px;
    font-size: 1.1rem;
}

@media screen and (max-width: 425px) {
    button:not(.circle) {
        width: 100%;
    }
}