@use '../colors' as *;
@use '../mixins' as *;

button {
    @include button-base;
}

/* VARIANTES */
button.primary {
    @include button-variant(primary);
}

button.secondary {
    @include button-variant(secondary);
}

button.danger {
    @include button-variant(danger);
}

button.surface {
    @include button-variant(surface);
}

/* FORMAS */
button.circle {
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

button.outline {
    background: transparent;
    border: 2px solid currentColor;

    &.primary {
        color: var(--primary);
    }

    &.secondary {
        color: var(--secondary);
    }

    &.danger {
        color: var(--danger);
    }

    &:hover {
        background-color: color-mix(in srgb, currentColor 15%, white);
    }
}

/* TAMANHOS */
button.sm {
    padding: 8px 12px;
    font-size: 0.85rem;
}

button.lg {
    padding: 16px 24px;
    font-size: 1.1rem;
}