@use '../colors' as *;
@use "sass:color";

button.primary {
    background-color: $color-primary;
    color: $color-secondary;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: color.adjust($color-primary, $lightness: 10%);
    }

    &:disabled {
        background-color: color.adjust($color-primary, $lightness: -20%);
        cursor: not-allowed;
    }

    &:active {
        background-color: color.adjust($color-primary, $lightness: -15%);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
}

button.secondary {
    background-color: $color-secondary;
    color: $color-placeholder;
    border: none;
    padding: 12px;
    min-width: 36px;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &:hover {
        background-color: color.adjust($color-secondary, $lightness: 10%);
    }

    &:disabled {
        background-color: color.adjust($color-secondary, $lightness: -20%);
        cursor: not-allowed;
    }

    &:active {
        background-color: color.adjust($color-secondary, $lightness: -15%);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
}


button.circle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: 0.2s;
    padding: 0;
}

button.circle:active {
    transform: scale(0.9);
}

button.circle:hover {
    box-shadow: 0px 0px 2px $color-placeholder;
}