@use '../colors' as *;

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: var-color(surface);
    border: 1px solid var-color(placeholder);
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    vertical-align: middle;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01);

    &:checked {
        background-color: var-color(primary);
        border-color: var-color(primary);
    }

    &:checked::after {
        content: "";
        position: absolute;
        top: 4px;
        left: 10px;
        width: 4px;
        height: 12px;
        border: solid var-color(surface);
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}