@use '../colors' as *;
@use "sass:color";

input[type="date"] {
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    text-indent: 0;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}