.page {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 46px;
    padding-left: 24px;
    padding-right: 24px;
}

@media screen and (max-width: 768px) {
    .page {
        padding-top: 24px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }
}