@use '../colors' as *;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--text);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--placeholder);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--placeholder);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--placeholder) transparent;
}

::-webkit-scrollbar-button:horizontal {
  display: none;
  width: 0;
  height: 0;
}

/* Hide vertical scrollbar arrows */
::-webkit-scrollbar-button:vertical {
  display: none;
  width: 0;
  height: 0;
}