@use '../colors' as *;

select {
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    background: var-color(background);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    text-indent: 8px;
    color: var-color(text);
    outline: none;
    transition: all 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01);

    &::placeholder {
        color: var-color(placeholder);
        opacity: 1;
    }

    &:focus {
        outline: none;
    }

    &:disabled {
        cursor: not-allowed;
    }

    option {
        background-color: var-color(background);
        border-radius: 8px;
        color: var-color(text);
        font-size: 0.95rem;
    }
}