@use '../colors' as *;

tabs {
    display: flex;
    flex-direction: column;

    &>* {
        display: flex;
        flex-wrap: wrap;
    }

    &>div>button {
        background-color: transparent;
        border-radius: 0;
        border-bottom: 2px solid var-color(surface) !important;
        box-sizing: border-box;

        &.active {

            overflow: hidden;
            border-bottom: 2px solid var-color(primary) !important;
        }
    }

    tab {
        width: 100%;
    }
}