@use '../colors' as *;

tabs {
    display: flex;
    flex-direction: column;

    &>* {
        display: flex;
        flex-wrap: wrap;
    }

    &>div>button {
        background-color: transparent;
        border-radius: 0;
        border-bottom: 2px solid var-color(surface) !important;
        box-sizing: border-box;
        max-width: 240px;

        &.active {
            overflow: hidden;
            border-bottom: 2px solid var-color(primary) !important;
        }
    }

    tab {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    tabs {
        &>div {
            flex-direction: column;

            &>button {
                max-width: none;
                width: 100%;
            }
        }
    }
}