@use '../colors' as *;

textarea {
    width: 100%;
    min-height: 120px;
    padding: 16px;
    border-radius: 8px;
    background-color: var-color(background);
    resize: none;
    line-height: 1.5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.01);
    text-indent: 8px;
    
    color: var-color(text);
    &::placeholder {
        color: var-color(placeholder);
        opacity: 1;
    }
}