<div class="avatar rounded-full d-flex items-center justify-center text-center hidden" [ngStyle]="{
        'background-image': 'url(' + image + ')',
        'background-size': 'cover',
        'background-position': 'center',
        'background-repeat': 'no-repeat'
    }" [ngClass]="{'w-24 h-24' : size === 'small',
                    'w-40 h-40' : size === 'medium',
                    'w-48 h-48' : size === 'large'}">
    <span *ngIf="!image && name" class="text-placeholder text-center">{{ name[0] }}{{ name.split(' ')[1]?.[0]
        }}</span>
</div>