<form action="" [formGroup]="taskForm">
    <div class="d-flex flex-col gap">
        <div class="d-flex flex-col gap-8">
            <h3>Funcionário(s)</h3>
            <select (change)="toggleEmployee($event)" [disabled]="employeeList.length === 0">
                <option [value]="''">Adicione funcionários</option>
                <option *ngFor="let employee of employeeList" [value]="employee.id">{{employee.name}}</option>
            </select>
            @if(taskEmployees.length === 0) {
            <div class="card warn-alpha text-text no-shadow text-center">
                Selecione pelo menos um funcionário
            </div>
            }
            <div class="d-flex gap-8 scroll-x">
                <div *ngFor="let employee of taskEmployees" animate.enter="slide-horizontal-in"
                    animate.leave="slide-vertical-out"
                    class="card info d-flex flex-col gap-8 items-center justify-between text-center w-128 min-w-128">
                    <div class="d-flex flex-col items-center">
                        <avatar [size]="'large'" [image]="employee.photo ?? ''" [name]="employee.name"
                            class="cursor-pointer">
                        </avatar>
                        <p class="text-text">{{employee.name}}</p>
                    </div>
                    <button class="w-32 h-32" (click)="toggleEmployee(undefined, employee.id)">
                        <span class="text-text material-symbols-outlined">
                            delete
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-flex flex-col gap-8">
            <h3>Tipo de agendamento <span class="text-error">*</span></h3>
            <select formControlName="type">
                <option *ngFor="let type of taskTypes" [value]="type.id">{{type.title}}</option>
            </select>
        </div>
        <div class="d-flex flex-col gap-4">
            <h3>Paciente</h3>

            @if (!selectedPatient) {
            <div class="d-flex gap-8">
                <input #name class="w-full" type="text" formControlName="patient" placeholder="Pesquisar pacientes"
                    (keyup.enter)="searchPatient(name.value)">
                <button data-tooltip="Buscar" class="circle surface w-48 h-48" (click)="searchPatient(name.value)">
                    <span class="text-placeholder text-size-24 material-symbols-outlined">
                        search
                    </span>
                </button>
            </div>

            <div *ngIf="(patientList$ | async)?.length && (patientList$ | async)!.length > 0"
                class="card flat bg-background p-0 d-flex flex-col max-h-240 scroll-y gap-4"
                animate.enter="slide-vertical-in-reverse">
                <div class="d-flex gap items-center cursor-pointer card surface no-shadow mr-8"
                    *ngFor="let patient of patientList$ | async"
                    (click)="selectedPatient = patient; clearPatientList()">
                    <div class="hide-mobile">
                        <avatar class="w-full" [image]="patient?.image" [name]="patient?.fullName ?? ''"
                            alt="profile-picture">
                        </avatar>
                    </div>
                    <p class="text-text text-bold">
                        {{patient?.registration}}
                    </p>
                    <p class="text-text">
                        {{patient?.fullName}}
                    </p>
                </div>
            </div>
            }
            @else {
            <div class="card info d-flex gap items-center justify-between" animate.enter="slide-vertical-in"
                animate.leave="slide-vertical-out">
                <div class="d-flex gap items-center">
                    <div class="hide-mobile">
                        <avatar class="w-full" [image]="selectedPatient.image" [name]="selectedPatient.fullName"
                            alt="profile-picture">
                        </avatar>
                    </div>
                    <p class="text-text text-bold hide-mobile">
                        {{selectedPatient.registration}}
                    </p>
                    <p class="text-text">
                        {{selectedPatient.fullName}}
                    </p>
                </div>

                <button class="circle w-48 h-48" (click)="selectedPatient = null">
                    <span class="text-text text-size-24 material-symbols-outlined">
                        delete
                    </span>
                </button>
            </div>
            }
        </div>
        <div class="d-flex flex-col gap-8">
            <h3>Título <span class="text-error">*</span></h3>
            <div class="d-flex gap-8 items-center">
                <input class="w-full" type="text" formControlName="title" placeholder="Adicionar título">
                <button data-tooltip="Gerar" class="circle surface w-48 h-48" (click)="generateDefaultTitle()"
                    [disabled]="!taskForm.controls['type'].valid">
                    <span class="text-text material-symbols-outlined">
                        autorenew
                    </span>
                </button>
            </div>
            @if (taskForm.get('title')?.invalid && taskForm.get('title')?.touched) {
            <span class="text-error" animate.enter="slide-vertical-in-reverse">
                Título inválido
            </span>
            }
        </div>
        <div class="d-flex flex-col gap-8">
            <h3>Descrição</h3>
            <div class="d-flex gap-8">
                <textarea formControlName="description" type="text" placeholder="Adicionar descrição"></textarea>
            </div>
            @if (taskForm.get('description')?.invalid && taskForm.get('description')?.touched) {
            <span animate.enter="slide-vertical-in-reverse" class="text-error">
                Descrição inválida
            </span>
            }
        </div>
        <div class="d-flex flex-col gap-8">
            <div class="d-flex gap w-full flex-wrap">
                <div class="d-flex flex-col gap-8 flex-1-1">
                    <h3>Inicio <span class="text-error">*</span></h3>
                    <div class="d-flex gap-8">
                        <input type="time" placeholder="Adicionar título" formControlName="start"
                            (change)="setupMinTime()">
                    </div>
                </div>
                <div class="d-flex flex-col gap-8 flex-1-1">
                    <h3>Fim <span class="text-error">*</span></h3>
                    <div class="d-flex gap-8">
                        <input type="time" placeholder="Adicionar título" formControlName="end"
                            [min]="taskForm.get('start')?.value">
                    </div>
                </div>
            </div>
            @if ((taskForm.get('start')?.invalid && taskForm.get('start')?.touched) || (taskForm.get('end')?.invalid &&
            taskForm.get('end')?.touched)) {
            <span animate.enter="slide-vertical-in-reverse" class="text-error">
                Horário inválido
            </span>
            }
        </div>
        <div class="d-flex flex-col gap-8">
            <h3>Status <span class="text-error">*</span></h3>
            <div class="d-flex gap">
                <select formControlName="status">
                    <option *ngFor="let status of taskStatus" [value]="status.id" [ngStyle]="{'color': status.color}">
                        {{status.title}}
                    </option>
                </select>
            </div>
        </div>
        <hr />
        <div class="d-flex w-full justify-end">
            <button class="secondary h-full" [disabled]="taskForm.invalid || taskEmployees.length === 0">{{task ?
                'Salvar' : 'Agendar'}}</button>
        </div>
    </div>
</form>