.fade-in {
    animation: fade-in 200ms ease forwards;
}

.fade-out {
    animation: fade-out 200ms ease forwards;
}


@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}