<div class="page">
    <page-header [title]="'Agenda'">
        <button class="primary h-full">Novo agendamento</button>
    </page-header>

    <div class="d-flex flex-col gap hidden">
        <div class="d-flex items-center justify-between gap">
            <div class="d-flex">
                <button class="secondary">Todos</button>
            </div>
            <div class="d-flex">
                <input class="datepicker" type="date" value="2017-06-01" />
            </div>
        </div>
        <div class="d-flex gap h-full scroll-x">
            <div class="d-flex flex-col h-full gap rounded" *ngFor="let employee of selectedEmployees">
                <h3 class="text-placeholder">{{employee.name}}</h3>
                <div class="card h-full d-flex flex-col gap scroll-y min-w-480" #agendaRef
                    (scroll)="onScroll($event)">
                    <div class="d-flex flex-col pos-relative">
                        <div #slotRef class="border-placeholder d-flex items-center py-16"
                            *ngFor="let time of timeSlots">
                            <span class="text-placeholder text-bold">{{ time.start | date:'HH:mm' }}</span>
                        </div>
                        <div class="pos-absolute tasks-container h-full ml-56">
                            <task *ngFor="let task of tasks" class="pos-absolute hidden pr-8" [task]="task"
                                [style.top.px]="task.top" [style.height.px]="task.height" [style.left.%]="task.left"
                                [style.width.%]="task.width">
                            </task>
                        </div>
                        <div class="needle pos-absolute left w-full h-2 bg-error z-index-top" [style.top.px]="needleTop"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>