<div class="page" animate.enter="slide-vertical-in" animate.leave="slide-vertical-out">
    <page-header [title]="'Agenda'">
        <button class="secondary h-full" (click)="newTask()">Novo
            agendamento</button>
    </page-header>
    <div class="d-flex flex-col gap">
        <div class="d-flex items-center justify-between gap flex-wrap">
            <div class="d-flex gap-16 items-center flex-wrap w-50-p flex-1-1">
                <div class="d-flex gap-8 flex-wrap w-full items-center">
                    <ng-container *skeleton="(isLoadingEmployees$ | async); className: ['w-240', 'h-48']">
                        <div *ngFor="let employee of (employeesList$ | async)"
                            class="d-flex flex-col items-center gap-4" [attr.data-tooltip]="employee.name"
                            animate.enter="slide-horizontal-in">
                            <button class="circle w-40 h-40 hidden d-flex flex-col"
                                [ngClass]="{'selected': (selectedEmployees.includes(employee) || isAllSelected)}"
                                (click)="toggleEmployee(employee)">
                                <avatar [size]="'medium'" [image]="employee.photo ?? ''" [name]="employee.name">
                                </avatar>
                            </button>
                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="d-flex flex-1-1">
                <input class="datepicker" type="date" value="2017-06-01" />
            </div>
        </div>
        <hr />
        <div #agendaContainer class="d-flex gap max-h-480 scroll-x pos-relative">
            <div class="w-full h-auto">
                <div class="w-full">
                    <div #slotRef class="timeslot d-flex items-center pb-16 gap-8" *ngFor="let time of timeSlots">
                        <span class="text-placeholder text-bold">
                            {{ time.start | date: 'HH:mm' }}
                        </span>
                        <div class="w-full h-1 w-1 bg-placeholder"></div>
                    </div>
                </div>
                <div class="needle pos-absolute left w-full h-2 bg-error" [style.top.px]="needleTop"></div>
                <div class="pos-absolute top left pl-56 pt-8 d-flex gap-8 w-full h-full hidden-x">
                    <div class="d-flex flex-col gap pos-relative w-full" #agendaRef
                        *ngFor="let employee of selectedEmployees">
                        <task *ngFor="let task of employee.tasks" class="pr-8 pos-absolute hidden cursor-pointer task"
                            animate.enter="slide-horizontal-in" [task]="task" [style.top.px]="task.top"
                            [style.height.px]="task.height" [style.left]="task.left" [style.width]="task.width"
                            (click)="selectedTask = task; modalOpen = true"></task>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if(modalOpen) {
<modal [(open)]="modalOpen" [title]="selectedTask ? 'Editar agendamento' : 'Novo agendamento'">
    <new-task [selectedEmployees]="selectedEmployees" [employeeList$]="employeesList$" [task]="selectedTask"></new-task>
</modal>
}