<div class="page" animate.enter="slide-horizontal-in" animate.leave="slide-horizontal-out">
    <page-header [title]="'Prontuário'" [returnUrl]="'pacientes'">
        <div class="d-flex gap items-center flex-wrap">
            <div class="d-flex gap-16">
                <button data-tooltip-bottom="Baixar em PDF" class="circle background w-40 h-40 p-24"
                    (click)="printRecords()">
                    <span class="material-symbols-outlined">
                        download
                    </span>
                </button>
                <button data-tooltip-bottom="Imprimir" class="circle background w-40 h-40 p-24"
                    (click)="printRecords()">
                    <span class="material-symbols-outlined">
                        print
                    </span>
                </button>
            </div>
            <button class="secondary h-full" (click)="modalOpen = true">Novo prontuário</button>
        </div>
    </page-header>
    <div class="d-flex flex-col gap">
        <div class="d-flex flex-col gap-4">
            <h3 animate.enter="slide-vertical-in" class="text-text text-size-40"
                *skeleton="(isLoading$ | async); className: ['w-60-p', 'h-64']">{{(patient$ | async)?.fullName}}</h3>

            <p class="text-placeholder" *skeleton="(isLoading$ | async); className: ['w-40-p', 'h-24']">{{(patient$ |
                async)?.age}}
                anos, {{(patient$ | async)?.address?.city}} -
                {{(patient$ | async)?.address?.state}}</p>
        </div>

        <div class="d-flex flex-col w-full gap-40">
            <div class="w-full d-flex gap justify-between flex-wrap items-center">
                <h3 class="text-size-24 text-placeholder">Histórico</h3>
                <div class="max-w-248">
                    <input type="date" [(ngModel)]="today" name="date" />
                </div>
            </div>
            <div *ngFor="let record of (patient$ | async)?.records; let i = index"
                class="d-flex flex-col gap-40 items-center justify-center w-full" [animate.enter]="'slide-vertical-in'">
                <div class="d-flex flex-col gap-8 w-full items-center">
                    <span class="text-size-24 text-bold text-placeholder">
                        {{record.date | CustomDate}}
                    </span>
                    <hr />
                </div>
                <div *ngFor="let r of record.records; let j = index" class="w-full d-flex flex-col gap-8 items-center"
                    [animate.enter]="'slide-vertical-in'">
                    <div class="record-content card p-0 w-full min-h-128 flat">
                        <rich-text-viewer [content]="r.content" class="surface"></rich-text-viewer>
                    </div>
                    <div class="d-flex justify-between w-full px-16 gap">
                        <span class="text-size-12 text-placeholder">{{r.date | date:"HH:mm"}}</span>
                        <span class="text-size-18 text-placeholder">
                            - {{r.author}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if(modalOpen) {
<modal [(open)]="modalOpen" [title]="selectedRecord ? 'Editar prontuário' : 'Novo prontuário'">
    <new-record></new-record>
</modal>
}